/* Grundlayout */
body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: rgb(15 23 42 / var(--tw-bg-opacity, 1));
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

.popup {
    top: 0px;
    left: 0px;
    position: fixed;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
}

.main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

/* content */

header {
    margin-bottom: 30px;
}

header h1 {
    text-align: center;
    color: rgb(239 68 68 / var(--tw-text-opacity, 1));
    margin-bottom: 10px;
}

header p {
    text-align: center;
    color: #cbd5e1;
    /* slate-400 */
    margin-top: 0;
}

section {
    background-color: rgb(30 41 59 / var(--tw-bg-opacity, 1));
    border-radius: 1.5vh;
    width: 300px;
    padding-bottom: 1vh;
}

section h2 {
    margin-top: 0px;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: rgb(239 68 68 / var(--tw-text-opacity, 1));
    border-bottom: 4px solid rgb(239 68 68 / var(--tw-text-opacity, 1));
    padding-bottom: 5px;
    background-color: rgb(51 65 85 / var(--tw-bg-opacity, 1));
    padding: 1.5vh;
    border-top-left-radius: 1.5vh;
    border-top-right-radius: 1.5vh;
}


.alarm-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1vh;
}

.alarm-item {
    background-color: #475569;
    /* slate-600 */
    padding: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alarm-info {
    max-width: 70%;
    color:white;
}

.alarm-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}

.alarm-actions form {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}



form input,
form textarea {
    width: calc(100% - 20px - 2vh);
    padding: 10px;
    margin-bottom: 10px;
    background-color: #475569;
    color: white;
    border: none;
    border-radius: 8px;
    margin-left: 1vh;
    margin-right: 1vh;
}

button {
    width: calc(100% - 2vh);
    padding: 10px;
    background-color: rgb(239 68 68 / var(--tw-text-opacity, 1));
    /* red-500 */
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 1vh;
    margin-right: 1vh;
}

button:hover {
    filter: brightness(0.9);
}


.green{
    background-color: rgb(0, 190, 0);
}
.orange{
    background-color: orange;
}
.gray{
    background-color: gray;
}
.red{
    background-color: red;
}


.bottom{
    width: 100%;
    bottom: 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
}

.bottom form{
    width: calc((3*300px) + (2*2vh));
}

/* Extra kleine Anpassungen */
textarea {
    resize: none;
}

p {
    margin: 0;
}

